.limitar-secao {
    margin: 80px auto;
    background-color: white;
}

.banner {
    height: 90vh;
    background-image: url('/public/assets/banner-sabores.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #f9db79;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-banner {
    width: 1024px;
}

.cont-banner h1 {
    color: #fff;
    line-height: 70px;
    font-size: 60px;
    text-align: center;
    text-shadow: black 2px 2px;
}

.titulo-sabores {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
    justify-content: center;
}

.card {
    width: 30%;
    background-color: white;
    margin: 10px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 8px gray;
}

.card img {
    width: 90%;
    height: 50%;
    background-color: white;
    margin: auto;
}

.textos-cards-sabores {
    text-align: center;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px auto;
}

@media screen and (max-width: 768px) {
    .cont-banner h1 {
        font-size: 40px;
    }
    
    .card {
        width: 38%;
        margin: 20px auto;
        justify-content: center;
    }

    .textos-cards-sabores {
        font-size: 12px;
        height: 120px;
    }
}


@media screen and (max-width: 500px) {
    .cont-banner h1 {
        font-size: 30px;
    }
    .cards {
        flex-direction: column;
        width: 100%;
    }

    .card {
        width: 80%;
    }

}
